 footer{
  background-color: #526534;
  color: #fff;
 }

 @media (max-width: 767px){
  #logo2 img{
    max-width: 50%;
    padding-bottom: 20px;
  }
 }
 @media (min-width: 767px){
  footer{
    width: 100%;
  }
  #logo2 img{
    max-width: 30%;
    padding-bottom: 30px;
  }
 }


  
  /*copyright-text*/
  p.copyright-text{
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
    color: #fff;
    text-transform: uppercase;
    padding:  20px 0;
    border-top: 1px solid #cccccc;
  }
  
 

 